@import '../variables';
@import '../utils/functions';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  outline: none;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  line-height: rem(20);
  font-size: rem(12);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: .3s ease-in-out;
  white-space: nowrap;
  height: 50px;

  &:hover, &:focus, &:active {
    outline: none;
  }

  &--default {
    font-weight: bold;
    padding: 10px 12px;
    line-height: 10px;
    font-size: rem(10);
    color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    background-color: transparent;
    height: auto;
  }

}
