// ------------------
// COLORS
// ------------------

$accent: #4A90E2;
$secondary-accent: #91a5f4;

$primary: #4A90E2;

$primary-bg: white;
$secondary-bg: #f4f9fc;

$border-color: rgba(#DCDEE3, .8);

$text-primary: #7d7d7d;
$text-secondary: #9a9a9a;

// ------------------
// FONTS
// ------------------

$font-primary: "Poppins", sans-serif,
sans-serif;
$font-secondary: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;

// ------------------
// SHADOWS
// ------------------

$shadow: 3px 2px 4px rgba(0,0,0,0.1);

// ------------------
// LAYOUT
// ------------------

$page-side-padding: 50px;
$radius: 4px;
