@import '../../styles/variables';
@import '../../styles/utils/functions';

.auth {
  width: 30%;
  min-width: 300px;
  background-color: white;
  border-radius: $radius;
  box-shadow: $shadow;
  position: relative;
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(24);
    padding: 20px 0;
    font-weight: 300;
  }
  &-progress {
    height: 3px;
    width: 100%;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    position: relative;
    &__bar {
      height: 100%;
      width: 30%;
      position: absolute;
      background-color: $primary;
      transition: all .3s linear;
    }
  }
  &-field {
    &__inline {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &__title {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &-form {
    padding: 60px 40px;
    min-height: 400px;
    &.condensed {
      min-height: 430px;
      padding-top: 30px;
    }
  }
  &-done {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: 60%;
      margin-bottom: 40px;
    }
  }
  &-back {
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: rem(18);
    color: #9a9a9a;
  }
  &-confirm {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: rem(18);
    color: $primary;
    &.disabled {
      color: #9a9a9a;
      cursor: not-allowed;
    }
  }
}
